<% selection = ['None',
	'12.00am','12.30am',
	'1.00am','1.30am',
	'2.00am','2.30am',
	'3.00am','3.30am',
	'4.00am','4.30am',
	'5.00am','5.30am',
	'6.00am','6.30am',
	'7.00am','7.30am',
	'8.00am','8.30am',
	'9.00am','9.30am',
	'10.00am','10.30am',
	'11.00am','11.30am',
	'12.00pm','12.30pm',
	'1.00pm','1.30pm',
	'2.00pm','2.30pm',
	'3.00pm','3.30pm',
	'4.00pm','4.30pm',
	'5.00pm','5.30pm',
	'6.00pm','6.30pm',
	'7.00pm','7.30pm',
	'8.00pm','8.30pm',
	'9.00pm','9.30pm',
	'10.00pm','10.30pm',
	'11.00pm','11.30pm'] %>

<%	@time_conversion = {
		'None' => nil,
		'12.00am' => (946684800+1800*0),
		'12.30am' => (946684800+1800*1),
		'1.00am' => (946684800+1800*2),
		'1.30am' => (946684800+1800*3),
		'2.00am' => (946684800+1800*4),
		'2.30am' => (946684800+1800*5),
		'3.00am' => (946684800+1800*6),
		'3.30am' => (946684800+1800*7),
		'4.00am' => (946684800+1800*8),
		'4.30am' => (946684800+1800*9),
		'5.00am' => (946684800+1800*10),
		'5.30am' => (946684800+1800*11),
		'6.00am' => (946684800+1800*12),
		'6.30am' => (946684800+1800*13),
		'7.00am' => (946684800+1800*14),
		'7.30am' => (946684800+1800*15),
		'8.00am' => (946684800+1800*16),
		'8.30am' => (946684800+1800*17),
		'9.00am' => (946684800+1800*18),
		'9.30am' => (946684800+1800*19),
		'10.00am' => (946684800+1800*20),
		'10.30am' => (946684800+1800*21),
		'11.00am' => (946684800+1800*22),
		'11.30am' => (946684800+1800*23),
		'12.00pm' => (946684800+1800*24),
		'12.30pm' => (946684800+1800*25),
		'1.00pm' => (946684800+1800*26),
		'1.30pm' => (946684800+1800*27),
		'2.00pm' => (946684800+1800*28),
		'2.30pm' => (946684800+1800*29),
		'3.00pm' => (946684800+1800*30),
		'3.30pm' => (946684800+1800*31),
		'4.00pm' => (946684800+1800*32),
		'4.30pm' => (946684800+1800*33),
		'5.00pm' => (946684800+1800*34),
		'5.30pm' => (946684800+1800*35),
		'6.00pm' => (946684800+1800*36),
		'6.30pm' => (946684800+1800*37),
		'7.00pm' => (946684800+1800*38),
		'7.30pm' => (946684800+1800*39),
		'8.00pm' => (946684800+1800*40),
		'8.30pm' => (946684800+1800*41),
		'9.00pm' => (946684800+1800*42),
		'9.30pm' => (946684800+1800*43),
		'10.00pm' => (946684800+1800*44),
		'10.30pm' => (946684800+1800*45),
		'11.00pm' => (946684800+1800*46),
		'11.30pm' => (946684800+1800*47)} %>

<% FeedingTime.first.feeding_time_1 == nil ? (previous_selection_1 = []) : (previous_selection_1 = [@time_conversion.index(FeedingTime.first.feeding_time_1.to_i)]) %>
<% FeedingTime.first.feeding_time_2 == nil ? (previous_selection_2 = []) : (previous_selection_2 = [@time_conversion.index(FeedingTime.first.feeding_time_2.to_i)]) %>
<% FeedingTime.first.feeding_time_3 == nil ? (previous_selection_3 = []) : (previous_selection_3 = [@time_conversion.index(FeedingTime.first.feeding_time_3.to_i)]) %>
<% FeedingTime.first.feeding_time_4 == nil ? (previous_selection_4 = []) : (previous_selection_4 = [@time_conversion.index(FeedingTime.first.feeding_time_4.to_i)]) %>



<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-modal-lg">Edit  <i class="fas fa-edit"></i></button>

<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="opacity: 1.0;">
	<!-- Modal content -->
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="card-body">
				<h3 class="display-4 py-3">Settings</h3>
				<%= form_with model: @feeding, url: feedings_path, method: :patch do |f| %>
					
					<hr>
					<h4>Notification</h4>
					<div class="px-5 mx-auto" style="width:90%">
						<p class="text-muted small">Woofles will send an email notification to the following addresses whenever automatic feeding is triggered, or when the it's time for your weekly cleaning</p>
					</div>
					<div class="form-row px-5 my-2">
						<%= f.label :Primary_email, class: 'col-3 align-self-center' %>
					  	<%= f.text_field :email1, type: 'email', class: 'form-control col-9', value: "#{Email.first.email1}" %>
					</div>

					<div class="form-row px-5 my-2">
						<%= f.label :Secondary_email, class: 'col-3 align-self-center' %>
					  	<%= f.text_field :email2, type: 'email', class: 'form-control col-9', value: "#{Email.first.email2}" %>
					</div>

					<hr class="my-5">

					<h4>Feeder Settings</h4>
					<p class="text-muted small">Woofles will spin the valve based on the number of seconds</p>

					<div class="form-row px-5 my-2">
						<%= f.label :Feed_Amount, class: 'col-3 align-self-center' %>
						<select name="feeding_duration" id="feeding_time" class="form-control col-9">
					  		<%= options_for_select([Feeding.first.feeding_duration]+[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]) %>
					  	</select>
					</div>

					<hr class="my-5">

					<h4>Feeding Time</h4>
					<p class="text-muted small">Change the default behavior of the Woofles</p>

					<div class="form-row px-5 my-2">
						<%= f.label :feeding_time_1, class: 'col-3 align-self-center' %>
						<select name="feeding_time_1" id="feeding_time" class="form-control col-9">
					  		<%= options_for_select(previous_selection_1+selection) %>
					  	</select>
					</div>

					<div class="form-row px-5 my-2">
						<%= f.label :feeding_time_2, class: 'col-3 align-self-center' %>
						<select name="feeding_time_2" id="feeding_time" class="form-control col-9">
					  		<%= options_for_select(previous_selection_2+selection) %>
					  	</select>
					</div>

					<div class="form-row px-5 my-2">
						<%= f.label :feeding_time_3, class: 'col-3 align-self-center' %>
						<select name="feeding_time_3" id="feeding_time" class="form-control col-9">
					  		<%= options_for_select(previous_selection_3+selection) %>
					  	</select>
					</div>

					<div class="form-row px-5 my-2">
						<%= f.label :feeding_time_4, class: 'col-3 align-self-center' %>
						<select name="feeding_time_4" id="feeding_time" class="form-control col-9">
					  		<%= options_for_select(previous_selection_4+selection) %>
					  	</select>
					</div>

					<hr>

					<div class="submit-field">
					  <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
					  <%= f.submit "Save Changes", class: 'btn btn-primary' %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
