<div class="jumbotron py-3" style="background-color: black;">
	<div class="container">
		<div class="row">
			<div class="col-9">
				<div class="text-left" style="font-family: 'Gamja Flower', cursive;">
					<h1 class="display-4 mx-auto" style="font-family: 'Gamja Flower', cursive; color: white;"><%= Feeding.first.pet_name %>'s Feeder</h1>
					<h4 class="font-weight-bold d-none d-lg-block" style="color: grey;">by WOOFLES Smart Feeder</h4>
				</div>
			</div>
			<div class="col-3 text-right align-self-center">
				<%= button_to 'Log out', sign_out_path, method: :delete, class: 'btn btn-danger btn-lg mx-auto' %>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">


		<!-- Settings -->
		<div class="col-lg-4 col-sm-12 my-4 px-1">
			<div class="card text-center" style="background-color: rgba(255, 255, 255, 0.6);">
				<div class="card-body py-4 my-2">
					<h2 class="card-title display-4 my-2" style="font-family: 'Permanent Marker', cursive;">Settings</h2>
					</br>
					<div class="p-2 mx-auto align-items-center text-center" style="border: 2px solid grey; width:10rem; height:10rem; border-radius: 50%; transform: rotate(40deg)">
						<i class="fas fa-cogs py-3 m-3" style="font-size:4.5rem; height:100%"></i>
					</div>
					</br>
		        	<div class="pt-3">
			        	<h5>Automatic Feeding</h5>
			        	<label class="switch">
						  <input type="checkbox" <%= ['','checked'].sample %> id="toggleFeeding">
						  <span class="slider round"></span>
						</label>
		        	</div>
		        	<hr class="px-5">
		        	<div class="pt-3">
			        	<h5>Cleaning Reminder</h5>
			        	<p class="small text-muted px-5"> Woofles will remind you to clean the feeder once a week</p>

			        	<label class="switch">
						  <input type="checkbox" <%= Feeding.first.notification == true ? ('checked') : ('') %> id="toggleFeeding">
						  <span class="slider round"></span>
						</label>
		        	</div>
				</div>
			</div>
		</div>


		<!-- Report -->
		<div class="col-lg-4 col-sm-12 my-4 px-1">
			<div class="card text-center" style="background-color: rgba(255, 255, 255, 0.6);">
				<div class="card-body py-4 my-2">
					<h2 class="card-title display-4 my-2" style="font-family: 'Permanent Marker', cursive;">Overview</h2>
					</br>
					<div class="p-2 mx-auto align-items-center text-center" style="border: 2px solid grey; width:10rem; height:10rem; border-radius: 50%; transform: rotate(20deg)">
						<i class="fas fa-clipboard-list py-2 m-3" style="font-size:5rem; height:100%"></i>
					</div>
					</br>
		        	<h5 class="pt-3"><%= Feeding.first.pet_name %> was last fed at <%= FeedingTime.first.feeding_time_1.to_s[11..15] %></h5>

		        	<hr class="my-3">

		        	<h5><%= Feeding.first.pet_name %>'s feeding time</h5>
		        	<%= FeedingTime.first.feeding_time_1.to_s[11..15] == nil ? () : raw("<p class='d-inline mx-3'>#{FeedingTime.first.feeding_time_1.to_s[11..15]}</p>") %>
		        	<%= FeedingTime.first.feeding_time_2.to_s[11..15] == nil ? () : raw("<p class='d-inline mx-3'>#{FeedingTime.first.feeding_time_2.to_s[11..15]}</p>") %>
		        	<%= FeedingTime.first.feeding_time_3.to_s[11..15] == nil ? () : raw("<p class='d-inline mx-3'>#{FeedingTime.first.feeding_time_3.to_s[11..15]}</p>") %>
		        	<%= FeedingTime.first.feeding_time_4.to_s[11..15] == nil ? () : raw("<p class='d-inline mx-3'>#{FeedingTime.first.feeding_time_4.to_s[11..15]}</p>") %>

		        	<hr class="my-3">

		        	<h5>Feeding Duration</h5>
		        	<p><%= Feeding.first.feeding_duration%> seconds</p>
					<%= render partial: 'feedings/edit' %>
				</div>
			</div>
		</div>


		<!-- Manual Feeding -->
		<div class="col-lg-4 col-sm-12 my-4 px-1">
			<div class="card text-center" style="background-color: rgba(255, 255, 255, 0.6);">
				<div class="card-body py-4 my-2">
					<h2 class="card-title display-4 my-2" style="font-family: 'Permanent Marker', cursive;">Feed</h2>
					</br>
					<div class="p-2 mx-auto align-items-center text-center" style="border: 2px solid grey; width:10rem; height:10rem; border-radius: 50%; transform: rotate(40deg)">
						<i class="fas fa-bone py-4 m-3" style="font-size:4rem; height:100%"></i>
					</div>
					</br>


					<form class="px-4">
					<%= form_with model: @feeding, url: feed_now_path, method: :post do |f| %>

						<h5 class="p-3">How much would you like to feed <%= Feeding.first.pet_name %>?</h5>
						</br>
						<select class="custom-select" id="inlineFormCustomSelect" name="feeding_duration">
							<option selected value="<%= Feeding.first.feeding_duration %>"><%= Feeding.first.feeding_duration %> seconds</option>
							<option value="1">1 seconds</option>
							<option value="2">2 seconds</option>
							<option value="3">3 seconds</option>
							<option value="4">4 seconds</option>
							<option value="5">5 seconds</option>
							<option value="6">6 seconds</option>
							<option value="7">7 seconds</option>
							<option value="8">8 seconds</option>
							<option value="9">9 seconds</option>
							<option value="10">10 seconds</option>
							<option value="11">11 seconds</option>
							<option value="12">12 seconds</option>
							<option value="13">13 seconds</option>
							<option value="14">14 seconds</option>
							<option value="15">15 seconds</option>
						</select>
						</br>
						</br>

						<div class="submit-field">
							<%= f.submit "Feed #{Feeding.first.pet_name}", class: 'btn btn-primary' %>
						</div>
					<% end %>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>


